[Unit]
Description=fancontroller is an advanced fan controller for Rasberry Pi
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fancontroller
Restart=on-failure

[Install]
WantedBy=multi-user.target
